/* notebook */

@media only screen and (max-width: 1300px) {

   * {
      margin: 0;
      padding: 0;
  }
   /* Adicione aqui os estilos específicos para telas menores */
   body {
       margin: 0 auto;
       padding: 20px; /* Adiciona um espaço lateral */
   }

   .projetos-coluna {
       width: 80%; /* Altera a largura para ocupar toda a largura da tela */
       display: block; /* Altera a exibição para bloco */
       margin-bottom: 40px; /* Adiciona espaço entre as colunas */
   }

   .texto-p2 {
      font-size: 1rem;
   }

   #Sobre, #Experiencia {
      display: flex; /* Torna as seções flexíveis */
      flex-direction: column; /* Organiza os itens em coluna */
      height: auto; /* Permite que as seções se expandam conforme necessário */
      margin-bottom: 40px; /* Adiciona margem inferior entre as seções */
  }
   #Sobre {
      padding-top: 40px;
      margin-top: 70px;
  }
  

  #Experiencia {
   margin-top: 80px;
  }

  .experiencias-detalhes-container {
      margin-top: 40px; /* Aumente o espaçamento superior para separar mais do #Sobre */
  }

  .coluna, .empregos {
      width: 50%; /* Mantém as colunas alinhadas */
  }

  .texto-container p {
   font-size:0.8rem;
  }

  .sobre-container {
      display: flex; /* Use display:flex para garantir que a imagem e o texto permaneçam alinhados */
      flex-wrap: wrap; /* Permita que os elementos dentro da sobre-container quebrem em várias linhas */
  }
  .section-container{
   align-items: flex-start;
  }

  .section-container_profile {
      width: 60%; /* Reduza um pouco a largura da div que contém a imagem */
      margin-right: 20px; /* Adicione um espaçamento à direita para separar a imagem do texto */
  }

  .sobre-container-detalhes {
      width: 55%; /* Ajuste a largura da div que contém o texto */
  }
   /* Estilos para o slider */
   .projetos-slider {
      position: relative;
      overflow: hidden;
  }

  .projetos-container {
      display: flex;
      transition: transform 0.5s ease;
  }

  .projetos-coluna {
      flex: 0 0 50%; /* Define a largura das colunas */
  }

  /* Estilos para as bolinhas de navegação */
  .bolinhas-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }

  .bolinha {
      height: 12px;
      width: 12px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
  }

  .bolinha.ativo {
      background-color: blue;
  }
}


/* Estilos para celular */
@media  screen and (max-width: 768px) {
   #desktop-nav {
      display: none;
   }
   #nav-hamburguer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; /* Adicione um padding para o menu */
   }
   .logo-container {
      width: 50%;
      max-width: 200px; /* Defina o valor máximo desejado */
      margin-top: 20px; /* Adicione espaçamento superior */
      margin-bottom: 20px; /* Adicione espaçamento inferior */
      overflow: hidden; /* Evita que a logo seja cortada na parte superior */
  }
  
  .logo {
      width: 100%;
      height: auto; /* Para manter a proporção */
  }
   .titulo {
      margin-top: 20px; /* Adapte conforme necessário */
      margin-bottom: 10px; /* Adapte conforme necessário */
      text-align: center; /* Centralize o título */
   }
   .texto-p2 {
      padding: 0 10px;
      font-size: 1.5rem;
      text-align: center;
  }
  .section-containerTexto {
   text-align: center;
   max-width: 75%;
}
   .btn-container {
      text-align: center; /* Centralize os botões */
   }
   button {
      margin-top: 20px;
      font-weight: 500;
      transition: all 300ms ease;
      padding: 1rem;
      width: 15rem;
      border-radius: 2rem;
  }
   .img-pc {
      display: none;
   }
   #perfil {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      flex-direction: column;
  }
  .btn-container {
   display: flex;
   justify-content: space-around;
   gap: 1rem;
   flex-direction: column;
   align-items: center;
}
#Sobre {
   text-align: center;
   width: 93%;
   height: auto;
   margin: 0 auto;
}
.section-container {
   display: flex;
   border: 2px solid rgb(4, 1, 90);
   border-radius: 2rem;
   padding: 20px;
   background-color: #ffffff;
   flex-direction: column;
   align-items: center;
}
.section-container_profile {
   width: -webkit-fill-available;
   display: flex;
   justify-content: center;
   align-items: center;
}
.texto-container p {
   font-size: 1.5rem;
   color: rgb(13, 17, 83);
   text-align: -webkit-center;
   margin-bottom: 20px;
}
}