/* notebook */

@media only screen and (max-width: 1200px) {
   /* Adicione aqui os estilos específicos para telas menores */
   body {
       margin: 0 auto;
       padding: 0 20px; /* Adiciona um espaço lateral */
   }

   .projetos-coluna {
       width: 80%; /* Altera a largura para ocupar toda a largura da tela */
       display: block; /* Altera a exibição para bloco */
       margin-bottom: 40px; /* Adiciona espaço entre as colunas */
   }
}



/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
     #desktop-nav{
        display: none;
     }
     #nav-hamburguer{
        display: flex;
     }
    
     .texto-p2{
      font-size: 1.3rem;
     }
     .titulo{
      white-space: nowrap;
     }
}
/* Estilos para celular */
@media  screen and (max-width: 768px) {
   #desktop-nav {
      display: none;
   }
   #nav-hamburguer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; /* Adicione um padding para o menu */
   }
   .logo-container {
      width: 50%;
      max-width: 200px; /* Defina o valor máximo desejado */
      margin-top: 20px; /* Adicione espaçamento superior */
      margin-bottom: 20px; /* Adicione espaçamento inferior */
      overflow: hidden; /* Evita que a logo seja cortada na parte superior */
  }
  
  .logo {
      width: 100%;
      height: auto; /* Para manter a proporção */
  }
   .titulo {
      margin-top: 20px; /* Adapte conforme necessário */
      margin-bottom: 10px; /* Adapte conforme necessário */
      text-align: center; /* Centralize o título */
   }
   .texto-p2 {
      padding: 0 10px;
      font-size: 1.5rem;
      text-align: center;
  }
  .section-containerTexto {
   text-align: center;
   max-width: 75%;
}
   .btn-container {
      text-align: center; /* Centralize os botões */
   }
   button {
      margin-top: 20px;
      font-weight: 500;
      transition: all 300ms ease;
      padding: 1rem;
      width: 15rem;
      border-radius: 2rem;
  }
   .img-pc {
      display: none;
   }
   #perfil {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      flex-direction: column;
  }
  .btn-container {
   display: flex;
   justify-content: space-around;
   gap: 1rem;
   flex-direction: column;
   align-items: center;
}
#Sobre {
   text-align: center;
   width: 93%;
   height: auto;
   margin: 0 auto;
}
.section-container {
   display: flex;
   border: 2px solid rgb(4, 1, 90);
   border-radius: 2rem;
   padding: 20px;
   background-color: #ffffff;
   flex-direction: column;
   align-items: center;
}
.section-container_profile {
   width: -webkit-fill-available;
   display: flex;
   justify-content: center;
   align-items: center;
}
.texto-container p {
   font-size: 1.5rem;
   color: rgb(13, 17, 83);
   text-align: -webkit-center;
   margin-bottom: 20px;
}
}