/*   iniciando      */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: darkblue;
}

/* transicoes nav */ 

a, .btn {
    transition: all 300ms ease;
}

/* desktop nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: darkblue;
}

.logo-container {
    width: 50%;
    max-width: 200px; /* Defina o valor máximo desejado */
    margin-top: 20px; /* Adicione espaçamento superior */
    margin-bottom: 20px; /* Adicione espaçamento inferior */
    overflow: hidden; /* Evita que a logo seja cortada na parte superior */
}

.logo {
    width: 100%;
    height: auto; /* Para manter a proporção */
}
.logo:hover {
    cursor: default;
}

/* Hamburguer Menu */

#nav-hamburguer {
    display: none;
}

.hamburguer-menu {
    position: relative;
    display: inline-block;
}

.icon-hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26px;
    width: 30px;
    cursor: pointer;
}
.icon-hamburguer span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3ms ease ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3ms ease ease-in-out;

}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3ms ease ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.icon-hamburguer.open  span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.icon-hamburguer.open  span:nth-child(2) {
    opacity: 0;;
}
.icon-hamburguer.open  span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.icon-hamburguer span:first-child{
    transform: none;
}
.icon-hamburguer span:first-child{
    opacity: 1;;
}
.icon-hamburguer span:first-child{
    transform: none;
}

/* Sections */ 

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* Perfil */

#perfil {
    display: flex;
    justify-content: space-between; /* Adiciona espaço entre os elementos */
    align-items: flex-start; /* Alinhar ao topo */
    height: 80vh;
    padding-left: 5%; /* Adiciona um espaço à esquerda */
    padding-top: 10vh; /* Adiciona um espaço superior */
}

.section-containerTexto {
    text-align: left;
    max-width: 45%; /* Reduzindo um pouco a largura do texto */
}

.titulo {
    font-size: 2.5rem;
    margin-bottom: 20px; /* Adiciona um espaço entre o título e o parágrafo */
}

.texto-p2 {
    font-size: 1.75rem;
    margin-bottom: 20px; /* Adiciona um espaço entre os parágrafos */
}

.img-pc {
    width: 45%; /* Definindo a largura da div da imagem */
    display: flex; /* Adiciona display: flex para os elementos internos */
    justify-content: flex-end; /* Alinha a imagem à direita */
    align-items: flex-end; /* Alinha a imagem na parte inferior */
}

.img-pc img {
    width: 100%;
    transition: transform 0.3s ease; /* Adicionando transição para suavizar o efeito */
}

.img-pc img:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem quando o mouse passa por cima */
}

  
  /* ICONS */
  
  .icon {
    cursor: pointer;
    height: 4rem;
    margin-top: 1rem;
    
  }
  
  /* BUTTONS */
  
  .btn-container {
    display: flex;
    justify-content: start;
    gap: 2rem;
  }

  button {
    font-weight: 500;
    transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
  }
  
  #btn1,
  #btn2 {
    border: rgb(13, 17, 83) 0.1rem solid;
  }
  
  #btn1:hover,
  #btn2:hover {
    cursor: pointer;
  }
  
  #btn1,
  #btn2:hover {
    background: rgb(4, 1, 90);
    color: white;
  }
  
  #btn1:hover {
    background: rgb(0, 0, 0);
  }
  
  #btn2 {
    background: none;
  }
  
  #btn2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  #btn-container {
    gap: 1rem;
  }

  /* sobre section */
  #Sobre {
    text-align: center; /* Centraliza o conteúdo */
    width: 80%; /* Define a largura da seção */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.titulo {
    margin-bottom: 20px; /* Espaço entre o título e o retângulo */
}

.section-container {
    display: flex;
    border: 1px solid #444; /* Bordas cinza escuro */
    border-radius: 1rem;
    padding: 20px; /* Espaçamento interno */
    background-color: #f0f0f0; /* Fundo cinza claro */
}

.section-container_profile {
    width: 50%; /* Largura do lado esquerdo */
    display: flex;
    justify-content: center; /* Centraliza a imagem verticalmente */
    align-items: center; /* Centraliza a imagem horizontalmente */
}

.profile-wrapper {
    width: 80%; /* Largura da imagem */
}

.sobreFoto {
    border-radius: 1rem;
    width: 100%; /* Largura da imagem */
    max-width: 100%; /* Largura máxima da imagem */
}

.sobre-container-detalhes {
    width: 50%; /* Largura do lado direito */
    padding-left: 20px; /* Adiciona espaço à esquerda */
}

.texto-container p {
    font-size: 1.1rem;
    color: #333;
    text-align: left; /* Alinha o texto à esquerda */
    margin-bottom: 20px; /* Adiciona espaço abaixo do texto */
}

.social-container {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
}

.icon {
    width: 50px; /* Define a largura dos ícones */
    margin: 0 10px; /* Adiciona espaço entre os ícones */
}


 /* Experiência Section */
 #Experiencia {
    position: relative;
    text-align: center; /* Centraliza o conteúdo */
}

.experiencias-detalhes-container {
    display: flex;
    flex-direction: column; /* Altera a direção do layout para vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre os contêineres */
}

.sobre-container {
    max-width: 800px; /* Largura máxima do contêiner */
    text-align: center; /* Centraliza o conteúdo */
}

.articulos-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas */
    gap: 20px; /* Espaçamento entre os artigos */
    justify-content: center; /* Centraliza os artigos horizontalmente */
}
article {
    position: relative;
    width: 200px; /* Define a largura dos botões */
}

article a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
}

article a:hover {
    transform: scale(1.1);
    border-color: #333;
    
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px; /* Aumenta o espaçamento inferior dos ícones */
    margin-top: 20px;
}

.canva-detalhes {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.canva {
    width: 50%;
    height: 500px;
}


/*Projetos Section*/

#Projetos {
    max-width: 1200px;
    margin: 0 auto;
}
.projetos-titulo{
    text-align: center;
    margin-bottom: 30px;
}
.projetos-coluna {
    display: inline-table;
    width: 48%;
}

.projetos-caixa {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.foto-projetos {
    max-width: 100%;
    height: auto;
}

.projetos-caixa button {
    margin-top: 10px; /* Adiciona espaço acima do botão */
}